
header {background-image: url(https://www.crushpixel.com/big-static17/preview4/floral-seamless-pattern-flower-background-2531552.jpg);
    background-size: 280px;

}
 


p{
    font-family: 'Times New Roman', Times, serif;
}
 h1 {text-align: center;}
header.background {
    background-color: thistle;
}
.imgRedonda{
        width: 200px;
        height:200px;
        border-radius:150px;
        margin: 0px;
        
    }
   
h1 {font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:thistle;
    color: black;
}

h3{ font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: thistle;
    color: black;
    
}


footer{text-align: center;}
footer{background-color: thistle;
    color: black;
}
